.DS_Store
.idea/
.env.dev
/.env.staging
/.env.staging.db

# virtualenv
.venv
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/backend/users/migrations/0001_initial.py
/backend/pos/migrations/0001_initial.py
/backend/db.sqlite3
